/* Rest of your CSS */
.about-section {
    padding: 2rem;
    text-align: start; 
    background-color: #262626; 
    color: white;
    max-width: 600px; 
    margin: 0 auto;
    position: relative; 
    z-index: 1; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .about-button {
    width: fit-content;
    background: transparent;
    border: 2px solid #22D3EE;
    color: #22D3EE;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  
  .about-button:hover {
    background: #22D3EE;
    color: #fff;
  }
  
  .about-heading {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 20px 0;
    color: white;
  }
  
  .about-heading .highlight {
    color: #22D3EE;
  }
  
  .about-description {
    font-size: 1rem;
    color: grey;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto; 
  }